@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');

body{
    background-color: #EED1E4;
}

.navbar-dark{
    background-color: #171717;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Rakkas', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFA5CB;
    /* margin-right: 0.5em; */
    border-bottom: 1px solid #EED1E4;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    list-style: none;
    width: 30%;
    float: right;

}

.navbar-dark .navbar-brand{
    position: absolute;
width: 82px;
height: 19px;
left: 24px;
top: 15px;

font-family: Rakkas;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #FFA5CB;

}

.navbar-dark .navbar-brand:hover {
    color: #EED1E4;
}

hr {
    border-top: 1px solid #EED1E4;
    width: 30%;
    /* text-align: left; */
    margin: 0;
    float: right;
}

.navbar-nav .nav-item:last-child .nav-link{
    border: none;
}



        /* ref.   4. README.md */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 165, 203)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler{
    border: none;
} 

.custom-toggler.navbar-toggler .navbar-toggler-icon{
    color: #ffa5cb;
}
       /* end ref  4. */