@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width:auto;
    background-color: #EED1E4;
}

/* -- NAVBAR MENU ----------------------    */
.navbar-dark{
    background-color: #171717;
    min-height: 8vh;
    padding:0;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Rakkas', cursive;
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: center;
    color: #FFA5CB;
}

.navbar-nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
    list-style: none;
    width: 100%;
    font-family: 'Rakkas', cursive;
    color: #FFA5CB;
    border:none;
}

.navbar-dark .navbar-brand{
    position: absolute;
    width: 86px;
    height: 22px;
    left: 24px;
    top: 23px;
    padding: 0;
}

.navbar-brand img{
    width: 5em;
    margin-top: -0.5em;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #171717;
    background-color:#FFA5CB;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #171717;
    background-color:#FFA5CB;
}

        /* ref.:   4. README.md */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 165, 203)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler{
    border: none;
} 

.custom-toggler.navbar-toggler .navbar-toggler-icon{
    color: #ffa5cb;
    background-size: 170% 170%;
    margin: 15px;
}
    /* end: ref.  4. */

    /* Media Query---- NAVBAR MENU -----------*/        
@media only screen and (max-width: 992px){
    .navbar-nav{
        width: 60%;
        float: right;
    }
    
    .navbar-dark .navbar-nav .nav-link{
        font-family: 'Rakkas', cursive;
        font-size: 1.5em;
        color: #FFA5CB;
        border-bottom: 2px solid #EED1E4;
    }
}        

@media only screen and (min-width: 1024px){
   .navbar-dark .navbar-nav .nav-link{
        font-family: 'Rakkas', cursive;
        font-size: 3em;
        color: #FFA5CB;
        border:none;
    }
    
    div#collapsibleNavbar.navbar-collapse.collapse{
        justify-content: flex-end;
        font-size: 0.5em;
    }
}


/* SECTION #personal_info----------------- */
#personal_info{
    padding-bottom: 5%;
}

h1{
    display: none;
}

#personal_info .container-fluid .container{
    background-color: rgba(23, 23, 23, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

#face_photo{
    width:auto;
}

#face_photo img{
    width: 7em;
    height: auto;
    border: 3px solid #EED1E4;
    border-radius: 50%;
}

#personal_info h2{
    font-family: Rakkas;
    font-size: 1.5em;
}

#personal_info ul li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1em;
    line-height: 19px;

    color: #000000;
}

#personal_info article .row:nth-child(2){
    font-size: 0.8em;
}

#personal_info i{
    color: rgb(80, 77, 77);
}

#personal_info .container-fluid .container-fluid{
    display: flex;
    justify-content: space-between;
}

#personal_info #second_article{
    margin: 3% 0 0 0;
}

#personal_info #second_article h3{
    font-family: Rakkas;
    font-size: 1.2em;
    margin-left: 3.5%;
    margin-top: 3%;
}

#second_article .col ul li{
    font-family: 'Rakkas', cursive;
    font-size: 1.4em;
    font-weight: 400;
}

#second_article  a{
    color: #0400ff;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    font-family: 'Rakkas', cursive;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
}
    /* Media Query --- SECTION #personal_info----------------- */
@media only screen and (min-width: 767px){
    
    #personal_info #first_article, 
    #personal_info #second_article,
    #portfolio, #certificates{
        font-size: 1.4em;
    }
    
    #personal_info #first_article ul li, #personal_info #second_article ul li{
        margin-bottom: .5em;
    }

    #personal_info #second_article ul{
        padding-left: 25%;
        margin-top: 1em;
    }

    #personal_info #second_article p:first-child{
        text-align:center;
        width: 100%;
        margin-top: 1em;
    }

    #personal_info #second_article a{
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1024px){
    #personal_info .container-fluid .container{
        min-height: 19.5em;
        padding-top: 5%;
    }

    #personal_info{
        padding-bottom: 1%;
    }

    #personal_info .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.2em;
    }

    #first_article, #second_article{
        width: 49%;
    }

    #personal_info #first_article ul{
        margin-top: 1em;
    }

    #personal_info #first_article ul li{
        line-height: 1em;
    }

    #second_article p{
        padding-top: .6em;
    }
}

/* SECTION #portfolio----------------- */

#portfolio{
    background-color:#171717;
    color:#EED1E4;
}

#portfolio h2, #certificates h2{
    font-family: 'Rakkas', cursive;
    font-size: 2.2em;
    font-weight: 400;
    margin-top: 2%;
}

#portfolio .container{
    background-color:#EED1E4;
    color:#000000;
}

#portfolio .container h3{
    font-family: 'Rakkas', cursive;
}

#portfolio .container .container img{
    width: 100%;
    border:1px #171717 solid;
}

#portfolio .container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: #000000;
    text-align: justify;
    text-indent: 2em;
}

#portfolio .container a{
    width: 100%;
    text-align: center;
}

#portfolio .container a p{
    color: #0400ff;
    text-decoration: none;
    background-color: transparent;
    width: 94%;
    text-align: center;
    font-family: 'Rakkas', cursive;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
}

#portfolio div:last-child{
    text-align:left;
}

#portfolio .fab{
    color: rgb(80, 77, 77);
    margin-left: -1em;
}

    /* ---Media Query---SECTION #portfolio-------------- */
@media only screen and (min-width: 767px){
    #portfolio .container-fluid p{
        margin-left: .3em;
    }

    #portfolio .container-fluid h2{
        margin-left: .2em;
    }

    #portfolio .container-fluid .container h3{
        font-size: 1.7em;
        margin: 0.2em 0 .4em 0;
    }

    #portfolio .container-fluid .container img{
        margin-bottom: 1em;
    }

    #portfolio .container-fluid .container a>p{
        margin: 1em 0;
        text-align: center;
        width: 100%;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1024px){
    #portfolio .container-fluid {
        padding: 0 5%;
    }

    #portfolio .container-fluid .container #flex{
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    #portfolio .container-fluid .container #flex a{
        width:100%;
    }
    
    div.row.pl-4.pr-4.pt-3.text-center{
        width: 100%;
        text-align: justify;
    }

    #portfolio .row{
        margin-left: 0em;
    }

    .card .card-header .row .col{
        width: 1em;
    }
}

/* SECTION #certificates----------------- */
#certificates #accordion .card:nth-child(odd){
    background-color: rgba(23, 23, 23, 0.05);
    border: 2px groove #FFA5CB;
}

#certificates #accordion .card:nth-child(even){
    background-color: inherit;
    /* border: 2px groove #FFA5CB; */
}

.fa-caret-down{
    font-size: 2em;
    color: #171717;
}

.card-link img{
    width: 70%;
    max-height: 80%;
    margin-left: 3%;
}

.card-header .row p{
    margin-top: 0;
    margin-bottom: 0em;
    text-align: center;
    width: 80%;
    font-size: 1.2em;
    width: 100%;
    text-align: center;
}    

.card-header .row p span{
    font-size: 0.8em;
    color: #3b3b3b;
}

#accordion .card-header h4{
    font-family: 'Rakkas', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 22px;
    width: 100%;
    text-align: center;
    color: #171717;
}

.card-body img{
    width: 100%;
}

    /*--Media Query----SECTION #certificates----------------- */
@media only screen and (min-width: 1024px){
    #certificates .container-fluid{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1024px){
    #certificates .card-link img{
        display: none;
    }
    i.fas.fa-caret-down{
        padding-left: 10%;
    }
}

/* --- FOOTER ----------------------*/

footer{
    background-color: #171717;
    height: auto;
}

footer a, footer i, footer a strong{
    color:#FFA5CB;
}

footer a:hover {
    text-decoration: none;
  }

footer .container-fluid{
    display: flex;
    justify-content: space-between;
}

footer ul{
    color:#FFA5CB;
    width: 100%;
    list-style: none;
}

footer ul li strong{
    font-size: 1.2em
}

    /*---Media Query --- FOOTER ------------------*/
@media only screen and (min-width: 767px){
    footer{
        font-size: 1.4em;
        padding: 0 1em;
    }
    
    footer .container-fluid .ml-4{
        text-align: center;
        list-style: none;
    }
}

@media only screen and (min-width: 1024px){
    footer{
        display: flex;
        flex-direction: row-reverse;
    }
}

/* full_cv.html-------------------------- */

#resume_full_cv_html{
    width: 100%;
    margin-top: 3em;
}

#download_cv{
    color: #0400ff;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    font-family: 'Rakkas', cursive;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
    padding: 1em 0;
}

#download_cv p{
    margin-bottom: 0;
}
