@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #EED1E4;
}

/* -- NAVBAR MENU ----------------------    */

.navbar-dark{
    background-color: #171717;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: 'Rakkas', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFA5CB;
    border-bottom: 1px solid #EED1E4;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    list-style: none;
    width: 30%;
    float: right;

}

.navbar-dark .navbar-brand{
    position: absolute;
    width: 82px;
    height: 19px;
    left: 24px;
    top: 15px;

    font-family: Rakkas;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #FFA5CB;

}

.navbar-dark .navbar-brand:hover {
    color: #EED1E4;
}

hr {
    border-top: 1px solid #EED1E4;
    width: 30%;
    /* text-align: left; */
    margin: 0;
    float: right;
}

.navbar-nav .nav-item:last-child .nav-link{
    border: none;
}

.navbar-brand img{
    width: 5em;
    margin-top: -0.7em;
}

        /* ref.:   4. README.md */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 165, 203)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler{
    border: none;
} 

.custom-toggler.navbar-toggler .navbar-toggler-icon{
    color: #ffa5cb;
}
        /* end: ref  4. */


 /* SECTION #personal_info----------------- */

#personal_info .container-fluid .container{
    background-color: rgba(23, 23, 23, 0.15);
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
}

#face_photo{
    width:auto;
}

#face_photo img{
    width: 7em;
    height: auto;
    border: 3px solid #EED1E4;
    border-radius: 50%;
}

#personal_info h1{
    font-family: Rakkas;
    font-size: 1.5em;
}

#personal_info ul li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    /* font-weight: 700; */
    font-size: 1em;
    line-height: 19px;

    color: #000000;
}

#personal_info article .row:nth-child(2){
    font-size: 0.8em;
}

#personal_info i{
    color: rgb(80, 77, 77);
} 

#personal_info .container-fluid .container-fluid{
    display: flex;
    justify-content: space-between;
}
/* --- FOOTER ----------------------*/

footer{
    background-color: #171717;
    height: auto;
}

footer a{
    color:#FFA5CB;
}

footer .container-fluid{
    display: flex;
    justify-content: space-between;
}

footer ul{
    color:#FFA5CB;
    width: 100%;
}

footer ul li strong{
    font-size: 1.2em
}

